
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="topplinje">
    <div>Navn Navnesen</div>
    <div>
        <div>
            <ul class="topplinjeinfo">
                <li>Status</li>
                <li>Innmelding ID</li>
            </ul>
        </div>
    </div>
</div>
<div class="subjektlinje">
    <div>Subjekt</div>
    <div>
        <ul class="subjektlinjeinfo">
            <li>Kommune</li>
            <li>Tag</li>
        </ul>
    </div>
</div>
<div class="forstebokslinje">
    <div class="beskrivelseboks">
        <div>Beskrivelse</div>
        <div class="descboks">Description</div>
    </div>
    <div class="kartvisningboks">
        <div>Kartvisning</div>
        <div class="mapboks">Map View</div>
    </div>
</div>
<div class="bunnlinje">
    <div>Opplysninger om innsender</div>
    <div class="bokslinje">
        <div class="opplysboks">Henter noe informasjon om innsenderen</div>
        <div class="buttonboks">
            <div class="buttonboksEn">
                <button>SVAR</button>
                <button>FLAGG</button>
            </div>
            <div class="buttonboksTo">
                <button>OPPDATER</button>
                <button>DELEGER</button>
            </div>
            <div class="buttonboksTre">
                <button>BEHANDLE</button>
                <button>AVVIS</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>

