
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="topplinje">
    <div>Navn Navnesen</div>
    <div>
        <div>
            <ul>
                <li>Status</li>
                <li>Sak ID</li>
            </ul>
        </div>
    </div>
</div>
<div class="subjektlinje">
    <div>Subjekt</div>
    <div>
        <ul>
            <li>Kommune</li>
            <li>Tag</li>
        </ul>
    </div>
</div>
<div>
    <div class="beskrivelseboks">
        <div>Beskrivelse</div>
        <div>Description</div>
    </div>
    <div class="kartvisningboks">
        <div>Kartvisning</div>
        <div>Map View</div>
    </div>
</div>
<div>
    <div class="opplysningsInns">
        <div>Opplysninger om innsender</div>
        <div>Henter noe informasjon om innsenderen</div>
    </div>
</div>
<div class="buttonboks">
    <button>SVAR</button>
    <button>OPPDATER</button>
    <button>BEHANDLE</button>
    <button>FLAGG</button>
    <button>DELEGER</button>
    <button>AVVIS</button>
</div>
</body>
</html>