@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <div class="items">
        <div class="card">
            <img link=""/>
            <div class="card-info">Finn bruker</div>
        </div>
        <div class="card">
            <img link=""/>
            <div class="card-info">Innboks</div>
        </div>
        <div class="card">
            <img link=""/>
            <div class="card-info">Behandle</div>
        </div>
        <div class="card">
            <img link=""/>
            <div class="card-info">Kartvisning</div>
        </div>
        <div class="card">
            <img link=""/>
            <div class="card-info">Noe her</div>
        </div>
    </div>
</div>
</body>
</html>