@{
    ViewData["Title"] = "Register Change";
}

<h2>Registrer endring</h2>

<div id="map" style="height: 500px;"></div>
<br/>

<form asp-controller="AreaChange" form asp-action="RegisterAreaChange" method="post">
    <input type="hidden" id="geoJsonInput" name="geoJson"/>
    <div>
        <label for="description">Change Description:</label>
        <textarea id="description" name="Description" class="form-control"></textarea>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts
{
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>

    <!-- Leaflet Draw CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Leaflet Draw JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

    <script>
        var map = L.map('map').setView([65.5, 17.0], 4); 
        
        //Add base map layer
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        
        //Initialiserer feature group som skal holde inntegningene
        var drawnItems = new L.featureGroup();
        map.addLayer(drawnItems);
        
        //Lager mulighet for å tegne på kartet til venstre
        //Drawing control muligjør forskjellige markeringsteknikker
        var drawControl = new L.Control.Draw({
            draw: {
                polygon: true,
                polyline: true,
                marker: true,
                circle: false,
                rectangle: true
                },
                edit: {
                    featureGroup: drawnItems
                    }
        });
        map.addControl(drawControl);
        
        //Event-håndtering når et layer er tegnet på kartet
        map.on(L.Draw.Event.CREATED, function (e) {
            var type = e.layerType,
                layer = e.layer;
                
            drawnItems.addLayer(layer);
            
            //Henter GeoJSON data av inntegningen på layer
            var geoJsonData = layer.toGeoJSON();
            var geoJsonString = JSON.stringify(geoJsonData);
            
            //Setter GeoJSON string i hidden input-felt i skjemaet
            document.getElementById('geoJsonInput').value = geoJsonString;
        });
    </script>
}