* {
    margin: 0;
    width: auto;
}

body {
    background-image: url('../Images/FrontPageBackground.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em 0.5em 1em;
    border-bottom: solid black 1px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}


.posterPage {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url(../Images/FrontPageBackground.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;*/
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
}

/*.background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    max-height: 100vh;
    max-width: 100vw;
    padding-top: 0;
    margin-top: 0;
    
}*/

.innmeldCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20em;
    width: 25em;
    background-color: #ffffff;
    padding: 2em 5em 2em 5em;
    border-radius: 8px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-weight: 100;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em 1em 2em;
    border-radius: 50px;
    background-color: #1a833b;
    border: none;
    color: #ffffff;
    font-size: larger;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.cardText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
    padding: 0em 0em 1em 0em;   
}

.navbar-collapse collapse d-sm-inline-flex justify-content-between{
    flex-direction: column;
    justify-content: end;
}