html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.map-container {
    position: relative;
    height: calc(100vh - 10.2em);
    width: 100%;
    margin-top: 5em;
    padding: 0;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

#map {
    width: 100%;
    height: 100%;
}

.utsnitt-controls {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.utsnitt-button {
    background-color: #1a833b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

    .utsnitt-button:hover {
        background-color: #05a833;
        transform: scale(1.05);
    }

    .utsnitt-button:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }

    .utsnitt-button.clear {
        background-color: #f44336;
    }

        .utsnitt-button.clear:hover {
            background-color: #da190b;
            transform: scale(1.05);
        }

/* Styling for the popup */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
}

.modal-text {
    margin-bottom: 1.5rem;
    line-height: 1.6;
    color: #666;
}

.modal-button {
    background: #2196F3;
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
}

    .modal-button:hover {
        background: #1976D2;
    }

.hide {
    display: none !important;
}