body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: url('/images/Not_Vennesla.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.card-container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 1000px; /* Fast bredde */
    margin: 0 auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 0.75rem)); /* To kolonner med fast bredde */
    grid-template-rows: auto auto; /* To rader */
    gap: 1.5rem;
    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    border: 2px solid #a4b2bf;
    border-radius: 8px;
    text-decoration: none;
    color: #b7d8f7;
    transition: all 0.3s ease;
    height: 200px; /* Fast høyde */
    max-width: 100%;
}

    .card:hover {
        border-color: #00509c;
        box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
        transform: translateY(-2px);
    }

    .card i {
        font-size: 2.5rem;
        color: #1a833b;
        margin-bottom: 1rem;
    }

    .card h2 {
        font-size: 1.25rem;
        margin: 0 0 1rem 0;
        color: #2d3748;
    }

    .card p {
        font-size: 0.875rem;
        color: #4a5568;
        margin: 0;
        line-height: 1.5;
        /* Begrens teksten til 3 linjer */
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

