@{

    Layout = "_Layout";
}


<div class="singleCaseUsername">
    <h3>Mike Oxlong</h3>
</div>

<div class="singleCaseSubjectName">
    <h1>Subject</h1>
</div>


@foreach (var innmelding in Model)
{
    <div class="singleCase">
        <div class="singleCaseCaseID">
            <h3>Sak ID #@innmelding.InnmeldingId</h3>
        </div>
        
        <div class="singleCaseSubject">
            <h3>Tittel: @innmelding.Tittel</h3>
        </div>

        <div class="singleCaseStatus">
            <h3>Status: @innmelding.Status</h3>
        </div>

        <div class="singleCaseDescription">
            <h3>Beskrivelse:</h3>
            <p>@innmelding.Beskrivelse</p>
        </div>

        <div class="singleCaseTag">
            <h3>Tag:</h3>
            <p>@innmelding.KartType</p>
        </div>

        <div class="singleCaseArea">
            <h3>Kommune:</h3>
            <p>Currently Unavailable</p>
        </div>

        <div class="singleCaseMap">
            <h3>Kartvisning av feil</h3>
            <p>Currently Unavailable</p>
        </div>
    </div>
}

<!-- Action Buttons -->
<div class="singleCaseActions">
    <button>Edit</button>
    <button>Update</button>
    <button>Delete</button>
</div>