@{

    Layout = "_Layout";
}


<div class="singleCaseUsername">
    <h3>Mike Oxlong</h3>
</div>

<div class="singleCaseSubjectName">
    <h1>Subject</h1>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <!-- Add other columns as necessary -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <!-- Add other columns as necessary -->
            </tr>
        }
    </tbody>
</table>

<div class="singleCaseSubject">
    <h2>This is supposed to be a box with subject inside.</h2>
</div>

<div class="singleCaseDescription">
    <h2>This is where we will have a description.</h2>
</div>

<div class="singleCaseStatus">
    <h3>Status</h3>
</div>

<div class="singleCaseCaseID">
    <h3>Case ID #00000</h3>
</div>

<div class="singleCaseArea">
    <h2>Kommune</h2>
</div>

<div class="singleCaseTag">
    <h2>TAG</h2>
</div>

<div class="singleCaseMap">
    <h2>Kartvisning av feil</h2>
</div>

<div class="singleCaseEdit">
    <button>Edit</button>
</div>

<div class="singleCaseUpdate">
    <button>Update</button>
</div>

<div class="singleCaseDelete">
    <button>Delete</button>
</div>

