/* Login Page Specific Styles */
.login-page {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: url('../Images/FrontPageBackground.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25em;
    background-color: var(--color-background);
    padding: 2em 5em;
    border-radius: var(--border-radius-md);
    box-shadow: var(--shadow-lg);
}

.login-card__title {
    margin-bottom: 1.5rem;
    color: var(--color-text);
    text-transform: uppercase;
}

.login-card__form {
    width: 100%;
}

.login-card__form-group {
    margin-bottom: 1.5rem;
}

.login-card__label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--color-text);
    font-weight: 500;
}

.login-card__input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-sm);
    font-size: 1rem;
}

.login-card__button-container {
    text-align: center;
    margin: 2rem 0;
}

.login-card__button {
    display: inline-block;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: var(--color-primary-dark);
    border-radius: 8px;
    font-size: larger;
    box-shadow: var(--shadow-lg);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .login-card__button:hover {
        background-color: var(--color-primary);
    }

.login-card__forgot-password {
    text-align: center;
    margin-top: 1rem;
}

.login-card__forgot-password-link {
    color: var(--color-text-light);
    text-decoration: none;
    transition: color 0.3s ease;
}

    .login-card__forgot-password-link:hover {
        color: var(--color-primary);
    }

.login-card__register {
    margin-top: 2.5rem;
    text-align: center;
}

.login-card__register-link {
    color: var(--color-primary);
    text-decoration: none;
    transition: color 0.3s ease;
}

    .login-card__register-link:hover {
        color: var(--color-primary-dark);
    }

/* Responsive Design */
@media (max-width: 768px) {
    .login-card {
        width: 90%;
        padding: 2em;
        margin: 1rem;
    }
}
