.content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

tr {
    cursor: pointer; /* Change cursor to pointer on hover */
}

tr:hover {
    background-color: #f0f0f0; /* Highlight row on hover */
}

tr:active {
    background-color: #dcdcdc; /* Darker shade when clicked */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    background-color: #1c833b;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #00509c;
    color: white;
}

.pagination a.active {
    font-weight: bold;
    background-color: #00509c;
    color: white;
    border-color: #00509c;
}

.search-bar {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    width: 300px;
}

.search-bar button {
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: #1c833b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.search-bar button:hover {
    background-color: #00509c;
}
