
body {
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 7em;
    margin-bottom: 7em;
}

body.Index {
    background-image: url('../Images/FrontPageBackground.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

header, footer {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    background-color: #ffffff;
}

header {
    top: 0;
    height: 5em;
    display: flex;
    justify-content: space-between;
}

footer {
    bottom: 0;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-weight: 100;
}

.navbar {
    display: flex;
    align-content: space-around;
    justify-content: flex-end;
    padding: 1em;
}

.navbarlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline;
    align-content: space-around;
    gap: 2em;
}
    
.Button-MeldInn {
    display: inline-block;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: darkblue;
    border-radius: 50px;
    font-size: larger;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
    border: none;
}

.Button-MeldInn:hover {
    background-color: dodgerblue;
}

.posterPage {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}


.innmeldCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20em;
    width: 25em;
    background-color: #ffffff;
    padding: 2em 5em 2em 5em;
    border-radius: 8px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.cardText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
    padding: 0em 0em 1em 0em;
}

#map {
    margin-top: 5em;
    margin-bottom: 2em;
    z-index: 0;
}