@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/style.css" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feilmelding</title>
</head>

<body class="frontHomePage">
<div class="posterPage">
    <div class="innmeldCard">
        <h1>Hei!</h1>
        <div class="cardText">Det har oppstått en feil</div>
        <td>@Model.Error.Message</td>
        
    </div>
</div>
</body>
