@model ViewModels.HomeViewModels.SuccessMeldingViewModel
@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/style.css" />
<link rel="stylesheet" href="~/css/pages/TemporaryCSS/FrontHomePage.css" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kartverket index</title>
</head>

<body class="frontHomePage">
@await Html.PartialAsync("_SuccessMelding", Model)
<div class="posterPage">
    <div class="innmeldCard">
        <h1>Hei!</h1>
        <div class="cardText">Er du en flittig turgåer og irriterer deg grønn over feil og mangler i turstien din?</div>
        <div class="button-container">
            <a href="@Url.Action("KartfeilMarkering", "KartfeilMarkering")" class="Button-MeldInn blue">Meld inn kartfeil med tegneverktøy</a>
            <a href="@Url.Action("SporKartfeil", "SporKartfeil")" class="Button-MeldInn green">Bruk GPS for å markere kartfeil</a>
        </div>
    </div>
</div>
</body>
