@{
    ViewData["Title"] = "Map View";
}

@section Styles {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.locatecontrol/dist/L.Control.Locate.min.css"/>

    <style>
        /* Stil for knappen */
        .custom-button {
            background-color: #FF5733;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 20px;
            cursor: pointer;
        }

        .custom-button:hover {
            background-color: #FF6F61; /* En lett endring ved hover */
        }
    </style>
}

@section Scripts {
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://unpkg.com/leaflet.locatecontrol/dist/L.Control.Locate.min.js"></script>
    <script src="~/js/MapAPI.js"></script>

    <!-- Skjult felt for GeoJSON -->
    <form method="get" action="/form/form">
        <input type="hidden" id="geoJsonHidden" name="geoJson"/>
        <button type="submit" class="custom-button">Gå til Skjema</button>
    </form>
}

<html>
<head>
</head>
<body>
    <div id="map" style="height: 100vh; width: 100%"></div>
</body>
</html>