@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>

    </head>
    <body>
        <h1>Hei, saksbehandler!</h1>
        <p>Velkommen til saksbehandlerportalen. Her kan du se og behandle innsendte skjemaer.</p>
    </body>
</html>