@{
    ViewData["Title"] = "Bruker hjemmeside";
}

<div class="brukerSakerTittel">
    <h1>Velkommen til din hjemmeside</h1>
    <p>Her kan du se dine valg</p>
</div>

<div class="innboks">
    <h2>Innboks</h2>
    <p>Her kan du se oppdateringer på dine saker.</p>
</div>

<div class="hjemmesideRettIKartet">
    <h2>Rette i kartet</h2>
    <p>Meld inn feil i kartet.</p>
    <a href=" @Url.Action("MapView", "Home")">Meld inn feil</a>
</div>

<div class="noeAnnet">
    <h2>Noe Annet</h2>
    <p>Her er noe annet.</p>
    <a href="https://www.youtube.com/watch?v=xm3YgoEiEDc" target="_blank">Surprise</a>
</div>