@{
    ViewData["Title"] = "Enkeltsak";
}

<div class="singleCaseUsername">
    <h3>Mike Oxlong</h3>
</div>

<div class="singleCaseSubjectName">
    <h1>Subject</h1>
</div>

<div class="singleCaseSubject">
    <h2>This is supposed to be a box with subject inside.</h2>
</div>

<div class="singleCaseDescription">
    <h2>This is where we will have a description.</h2>
</div>

<div class="singleCaseStatus">
    <h3>Status</h3>
</div>

<div class="singleCaseCaseID">
    <h3>Case ID #00000</h3>
</div>

<div class="singleCaseArea">
    <h2>Kommune</h2>
</div>

<div class="singleCaseTag">
    <h2>TAG</h2>
</div>

<div class="singleCaseMap">
    <h2>Kartvisning av feil</h2>
</div>

<div class="singleCaseEdit">
    <button>Edit</button>
</div>

<div class="singleCaseUpdate">
    <button>Update</button>
</div>

<div class="singleCaseDelete">
    <button>Delete</button>
</div>