:root {
    /* FARGER */
    --kartveket-logo-gronn: #1a833b;
    --kartverket-logo-blaa: #00509c;
    --bakgrunn-graa: #f0f0f0;
    --avbryt--graa: #808080;
    --roed: #fa3838;
    
    /* SPACING */
    
    /* BREAKPOINTS FOR MOBIL */
}