@model Gruppe10KVprototype.Models.LoginModel

<body class="Index">
    <div class="posterPage">
        <div class="innmeldCard">
            <h1>Logg Inn</h1>
            <form method="post" asp-action="Login">
                <div class="form-group">
                    <label asp-for="Email">E-post</label>
                    <input asp-for="Email" placeholder="Skriv inn e-post" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Passord</label>
                    <input asp-for="Password" type="password" placeholder="Skriv inn passord" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="Button-MeldInn">Logg inn</button>
                </div>
            </form>
            <div class="cardText">
                <p>Ikke registrert? <a asp-controller="Register" asp-action="Register">Opprett konto her!</a></p>
            </div>
        </div>
    </div>
</body>