@model Gruppe10KVprototype.Models.LoginModel

<h1>Logg Inn</h1>
<div class="innmeldCard">
    <form method="post" asp-action="Login">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="Button-MeldInn">Logg Inn</button>
    </form>
    <div class="register-link">
        <a asp-controller="Register" asp-action="Register">Ikke registrert? Opprett konto her!</a>
    </div>

</div>
