@model Gruppe10KVprototype.Models.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<body class="Index">
    <div class="posterPage">
        <div class="innmeldCard">
            <h1>Opprett konto</h1>
            <form asp-action="Register" method="post">
                <div class="form-group">
                    <label asp-for="Username">Brukernavn</label>
                    <input asp-for="Username" placeholder="Skriv inn brukernavn" />
                    <span asp-validation-for="Username"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">E-post</label>
                    <input asp-for="Email" placeholder="Skriv inn e-post" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Passord</label>
                    <input asp-for="Password" type="password" placeholder="Skriv inn passord" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BekreftPassord">Bekreft passord</label>
                    <input asp-for="BekreftPassord" type="password" placeholder="Bekreft passord" />
                    <span asp-validation-for="BekreftPassord"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="Button-MeldInn">Registrer</button>
                </div>
            </form>
            <div class="cardText">
                <p>Har du allerede bruker? <a href="@Url.Action("Login", "Login")">Logg inn her!</a></p>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}